### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data_df = pd.DataFrame(purchase_data)#this seems redundant
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [ ]:
#clean data first?

In [53]:
#display columns
total_players = purchase_data_df["SN"].count()
#how do I print the column title?
total_players

780

In [65]:
#display number of players
unique_players = purchase_data["SN"].unique()
uplayers_count = [[len(unique_players)]]
total_uplayers = pd.DataFrame(uplayers_count, columns=['Total Number of Unique Players'])
total_uplayers

   Total Number of Unique Players
0                             576

In [73]:
#Run basic calculations to obtain number of unique items
num_unq = len(purchase_data["Item ID"].value_counts())

# Average purchase price
avg_price = (purchase_data["Price"].mean())

# Number of Purchases
num_purch = (purchase_data["Price"].count())
# Total Revenue
total_rev = (purchase_data["Price"].sum())

179

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [80]:
#Run basic calculations to obtain number of unique items
num_unq = len(purchase_data["Item ID"].value_counts())

# Average purchase price
avg_price = (purchase_data["Price"].mean())

# Number of purchases
num_purch = (purchase_data["Price"].count())

#Total revenue
total_rev = (purchase_data["Price"].sum())

purch_analysis = {"Number of Unique Items": [num_unq], "Average Price":[avg_price], "Number of Purchases":[num_purch], "Total Revenue":[total_rev]}
purch_analysis_df = pd.DataFrame(purch_analysis)

# Format dataframe columns
purch_analysis_df["Average Price"] = purch_analysis_df["Average Price"].map("${:,.2f}".format)
purch_analysis_df["Total Revenue"] = purch_analysis_df["Total Revenue"].map("${:,.2f}".format)

purch_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [98]:
#Get list of types of gender; these aren't unique though 
gender_data = purchase_data.groupby(["Gender"])
gender_data.count()

,Purchase ID,SN,Age,Item ID,Item Name,Price,Age Summary
Gender,,,,,,,
Female,113,113,113,113,113,113,113
Male,652,652,652,652,652,652,652
Other / Non-Disclosed,15,15,15,15,15,15,15

In [100]:
#get unique count by gender; I imagine we need unique since there are duplicate people as I learned in total number of players
female = len(purchase_data.loc[purchase_data["Gender"]=="Female", :])
female
#unique_players; can't we reuse the unique value?

113


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [101]:
#Get purchase count, avg. purchase price, avg, purchase total per person etc. by gender
#num_unq = len(purchase_data["Item ID"].value_counts())

# Purchase count avg
#purchase_count = (purchase_data["Purchase Count"].mean())

# Purchase total per person etc. by gender
#purchase_total = (purchase_data["Price"].count())

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [97]:
# Create bins
# age bins are 0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

#Create bin names
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

            Percentage of Players  Total Count
Age Summary
<10                          nan%           23
10-14                        nan%           28
15-19                        nan%          136
20-24                        nan%          365
25-29                        nan%          101
30-34                        nan%           73
35-39                        nan%           41
40+                          nan%           13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80